<app-layout class="cadastro-component">

  <h1>Cadastro</h1>
  <form class= "form-cadastro" #cadForm="ngForm" (ngSubmit)= "cadastrar(cadForm)">
  
  <label for="nome">Nome</label>
  <input type="text" name="nome" id="nome" [(ngModel)]= "aluno.nome" >
  
  
  <label for="setor">colegio</label>
  <input type="text" name="colegio" id="colegio" [(ngModel)]= "aluno.setor" >
  
  <button type="button" (click)="capturarFoto"> Tirar foto</button>
  
  <button type="submit">Salvar</button> 
  
  <ion-buttom type ="button" (click)="voltar()"> cancelar</ion-buttom>
  
  </form>
  
  </app-layout>