* { box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}

.container{
  background-color: #FFF;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: auto 1em;
  padding: 10px 20px;
}

.topo{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background-color: rgb(255, 215, 0);
  border-radius: 8px;
}



input{
  width: 100%;
  padding: 10px 20px;
  margin: 7px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  display: table;
}

.input-lado{
  width: 50%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  margin: auto 1em;
}

 .lado-lado{
 	justify-content: center;
	flex-direction: column;
 	display: flex;
 }

 
.conteudo{
	border: dashed gray;
	flex-direction: column;
}

.btn-salvar{
	border-radius: 5px;
	background-color: rgb(255, 215, 0);
	margin: 8px 20px;
	font-weight: bold;
	font-size: 80%;
	border: 0; 
	height: 40px;
	width: 100px;
	box-shadow: 3px 3px 0 #999;
	justify-content: center;
  align-items: center-left;
  color: #000;
}


.btn-cancelar{
	background-color: #b51630;
}

.principal{
  width: 100%;
}


  label,input{
    //margin: auto 1em;
  }